*, html {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative; 
}

--root {
  --color1: #0dadff;
  --color2: #ffb24d;
}

@font-face {
  font-family: "Aller_Bd";
  src: url("../fonts/Aller_Bd.ttf");
}
@font-face {
  font-family: "Roboto-B";
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto-M";
  src: url("../fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: "Roboto-L";
  src: url("../fonts/Roboto-Light.ttf");
}
img {
  height: 25px;
}

html {
  color: #222;
  font-family: "Roboto-L", sans-serif;
}

div.container {
  width: 100%;
  min-width: 270px;
  overflow-x: hidden;
}
div.container nav.about-barras {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 3;
  cursor: pointer;
  position: fixed;
  top: 10px;
  right: 10px;
}
div.container nav.about-barras img.barras {
  height: 20px;
}
div.container nav.about-barras .hide {
  display: none;
}
div.container section.more-stuff {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-color: white;
  position: fixed;
  padding: 0.5rem 1rem;
  top: 0;
  z-index: 2;
  left: 100vw;
  transition: 0.5s ease-in;
  overflow: scroll;
  min-width: 300px;
  overflow-x: hidden;

}
div.container section.more-stuff div.sec {
  margin: 2rem 0;
}
div.container section.more-stuff div.sec > * {
  margin-left: 1rem;
}
div.container section.more-stuff div.sec h2 {
  margin-left: 0;
  font-size: 2rem;
  color: #009beb;
  font-family: sans-serif;
}
div.container section.more-stuff div.sec h2::after {
  content: "";
  width: 103px;
  height: 10px;
  background: #ffb24d;
  position: absolute;
  bottom: 1px;
  left: 0;
  z-index: -1;
  transition: 0.15s cubic-bezier(0.4, 0, 1, 1);
}
div.container section.more-stuff div.sec:hover h2::after {
  width: 150px;
}
div.container section.more-stuff div.sec h3 {
  color: #444;
}
div.container section.more-stuff div.sec#technical ul li {
  list-style: none;
}
div.container section.more-stuff div.sec#technical ul li h3, div.container section.more-stuff div.sec#technical ul li h4, div.container section.more-stuff div.sec#technical ul li h5 {
  display: inline;
}
div.container section.more-stuff div.sec#technical ul li h5 {
  color: #777;
}
div.container section.more-stuff div.sec#language ul li {
  list-style: none;
}
div.container section.more-stuff div.sec#resume p a {
  color: #ffb24d;
}
div.container section.more-stuff.initial-pos {
  left: 0px;
}
div.container section.intro {
  height: 100vh;
  background-color: #0dadff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  z-index: 100;
}
div.container section.intro .intro-title p{
  max-width: 500px;
  margin-bottom: 2rem;
  font-size: 2.4rem;
  font-weight: 700;
  font-family: "Aller_bd", serif;
}
div.container section.intro nav.link-section ul.link-section-links {
  display: flex;
}
div.container section.intro nav.link-section ul.link-section-links li.link {
  height: 15px;
  list-style: none;
  margin: 0 5px;
}
div.container section.intro nav.link-section ul.link-section-links li.link a {
  text-decoration: none;
}
div.container section.intro nav.link-section ul.link-section-links li.link a img {
  height: 25px;
}
div.container main.projects-area {
  background-color: #201a30;
  padding: 1rem;
}


div.container main.projects-area h2.title {
  margin: 1rem 0rem 2rem;
  color: white;
  font-size: 1.8rem;
  font-weight: 700;
  font-family: "Roboto-B", sans-serif;
}
div.container main.projects-area div.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.container main.projects-area div.projects div.project {
  margin-bottom: 2rem;
  background-color: rgb(56, 48, 76);
  padding: 0.5rem;
}
div.container main.projects-area div.projects div.project{
  position: relative;
  color: white;
}
div.container main.projects-area div.projects div.project:hover::before{
  opacity: 1;
}
div.container main.projects-area div.projects div.project::before{
  content: '';
  pointer-events: none;
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(255,255,255,0.06),
    transparent 40%
  );
  height: 100%;
  left: 0px;
  opacity: 0;
  top: 0px;
  z-index: 2;
  width: 100%;
  position: absolute;
}
div.container main.projects-area div.projects div.project div.project-image {
  position: relative;
  padding-top: 100%;
  background-color: gray;
  background-size: cover;
  background-position: top;
}
div.container main.projects-area div.projects div.project div.project-image.notas {
  background-image: url(../img/notas.png);
}
div.container main.projects-area div.projects div.project div.project-image.debt {
  background-image: url(../img/debt.png);
}
div.container main.projects-area div.projects div.project div.project-image.junji {
  background-image: url(../img/junji.png);
}
div.container main.projects-area div.projects div.project div.project-image.b-track {
  background-image: url(../img/bike.png);
}
div.container main.projects-area div.projects div.project div.project-image.silla {
  background-image: url(../img/silla.png);
}
div.container main.projects-area div.projects div.project div.project-image.clothes {
  background-image: url(../img/clothes.png);
  background-position: top;
}
div.container main.projects-area div.projects div.project div.project-image.codewell {
  background-image: url(../img/codewell.png);
  background-position: top;
}
div.container main.projects-area div.projects div.project div.project-image.simplePractice {
  background-image: url(../img/simplePractice.png);
  background-position: top;
}
div.container main.projects-area div.projects div.project div.project-image.formula1 {
  background-image: url(../img/formula1.png);
  background-position: top;
}
div.container main.projects-area div.projects div.project div.project-image.movie {
  background-image: url(../img/movie.png);
  background-position: top;
}
div.container main.projects-area div.projects div.project div.project-image.zaha {
  background-image: url(../img/zaha.png);
  background-position: center;
}

div.container main.projects-area div.projects div.project div.project-image.photographers {
  background-image: url(../img/photographers.png);
  background-position: top;
}

div.container main.projects-area div.projects div.project div.project-image.shopping-cart {
  background-image: url(../img/shopping-cart.png);
  background-position: top;
}
div.container main.projects-area div.projects div.project div.project-image.pokeapi {
  background-image: url(../img/poke-api.png);
  background-position: top;
}

div.container main.projects-area div.projects div.project div.project-image.gotruster {
  background-image: url(../img/gotruster.png);
  background-position: top;
}

div.container main.projects-area div.projects div.project div.text-section h3.project-title {
  font-size: 1.6rem;
  margin: 0.5rem 0;
}
div.container main.projects-area div.projects div.project div.text-section h3.project-title a {
  text-decoration: none;
  color: white;
}
div.container main.projects-area div.projects div.project div.text-section p {
  font-size: 1.2rem;
}
div.container main.projects-area div.projects div.project div.text-section p.project-description {
  margin-bottom: 0.5rem;
}
div.container main.projects-area div.projects div.project div.text-section p.project-professional-description {
  margin-bottom: 0.5rem;
  display: inline;
  color: white;
  font-weight: 700;
}
div.container main.projects-area div.projects div.project div.text-section a.github-link {
  position: absolute;
  right: 5px;
  bottom: 1px;
}

@media only screen and (min-width: 500px) and (max-width: 540px) {
  div.container main.projects-area div.projects div.project div.text-section a.github-link {
    bottom: unset;
    top: 5px;
  }
}
@media only screen and (min-width: 550px) {
  div.container section.more-stuff {
    padding: 1.5rem 3rem;
  }
}
@media only screen and (min-width: 650px) {
  div.container section.more-stuff {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  div.container section.more-stuff div.sec {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    width: 100%;
    margin: 4rem 0;
    max-width: 700px;
  }
  div.container section.more-stuff div.sec:first-of-type {
    margin-top: 3rem;
  }
  div.container section.more-stuff div.sec h2 {
    grid-column: 1/4;
    height: fit-content;
  }
  div.container section.more-stuff div.sec > ul, div.container section.more-stuff div.sec > h3, div.container section.more-stuff div.sec > p {
    grid-column: 4/-1;
  }
}
@media only screen and (min-width: 500px) {
  div.container main.projects-area {
    display: flex;
    flex-direction: column;
  }
  div.container main.projects-area h2.title {
    max-width: 900px;
    margin: 1rem auto 2rem;
  }
  div.container main.projects-area div.projects {
    max-width: 850px;
    align-self: center;
  }
  div.container main.projects-area div.projects div.project {
    display: grid;
    grid-template-columns: minmax(150px, 185px) 1fr 1fr;
    max-width: 850px;
    width: 100%;
    transition: 0.8s ease-in;
  }
  div.container main.projects-area div.projects div.project:hover {
    position: relative;
    top: -5px;
  }
  div.container main.projects-area div.projects div.project div.text-section {
    grid-column: 2/-1;
    margin-left: 0.5rem;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    max-height: 185px;
  }
  div.container main.projects-area div.projects div.project div.text-section h3.project-title {
    grid-row: 1;
    grid-column: 1/-1;
    margin: 0;
  }
  div.container main.projects-area div.projects div.project div.text-section h3.project-title a:hover {
    color: #03a9f4;
  }
  div.container main.projects-area div.projects div.project div.text-section p.project-description {
    grid-row: 2;
    margin: 0;
  }
  div.container main.projects-area div.projects div.project div.text-section p.project-professional-description {
    grid-column: 1/-1;
    align-self: end;
  }
}

@keyframes movi{
	0%{
		background-position: 0px 0px;
	}

	50%{
		background-position: -150px -320px;
	}
}
@media only screen and (min-width: 1090px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: linear-gradient(18deg, #2b273a 0%, #2b273a 34%, #009688 87%);
    background-size: 150vw 200vh;
    animation: movi 7s infinite;
  }

  div.container {
    height: 100vh;
    min-height: 500px;
    display: grid;
    grid-template-columns: repeat(12, minmax(2em, 6.2em));
    width: auto;
    overflow-y: hidden;
  }
  div.container section.intro {
    grid-row: 1;
    width: 350px;
    max-height: 450px;
    grid-column: 2/5;
    z-index: 1;
    border-radius: 6%;
    align-self: center;
  }
  div.container main.projects-area {
    grid-row: 1;
    grid-column: 5/12;
    max-height: 600px;
    align-self: center;
    border-radius: 2%;
    padding-left: 6em;
    overflow: scroll;
    overflow-x: hidden;
  }
}

.circle{
  position: absolute;
  z-index: 100;
  transform: translate(5%, 5%);
}

.circle-inner{
  position: relative;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
}

.circle-inner p{
  max-width: 500px;
    margin-bottom: 2rem;
    font-size: 2.4rem;
    font-weight: 700;
    font-family: "Aller_bd", serif;
}

.text p span{
  font-size: 10px;
}

.rotating-logo{
      position: absolute;
      width: 80px;
      height: 80px;
      background-size: cover;
      border-radius: 50%;
      filter: brightness(1.5) contrast(1.5);
    }
.circle .text{
      position: absolute;
      width: 100%;
      height: 100%;
      animation:  rotateText 10s linear infinite;
    }

    .circle .text span{
      position: absolute;
      left: 50%;
      font-size:  .5em;
      transform-origin: 0 50px;
    }

    @keyframes rotateText{
      0%{
        transform:  rotate(360deg);
      }
      100%{
        transform: rotate(0deg);
      }
    }

@media (max-width: 700px){
  .circle{
    display: none;
  }
}

.CV strong{
  display: none;
}

@media(max-width: 1090px){
  .CV{
    position: fixed;
    bottom: 25px;
    right:  25px;
  }

  .CV a{
    padding: 0.15rem 0.75rem;
    background: #0dadff;
    display: inline-block;
    border-radius: 101px;
  }

  .CV a strong{
    display: inline;
    color: black;
    font-size: 25px;
  }
}
/*# sourceMappingURL=style.css.map */
