*, html {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

--root {
  --color1: #0dadff;
  --color2: #ffb24d;
}

@font-face {
  font-family: "Aller_Bd";
  src: url("../fonts/Aller_Bd.ttf");
}
@font-face {
  font-family: "Roboto-B";
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto-M";
  src: url("../fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: "Roboto-L";
  src: url("../fonts/Roboto-Light.ttf");
}
img {
  height: 25px;
}

html {
  color: #222;
  font-family: "Roboto-L", sans-serif;
}

div.container {
  width: 100%;
  min-width: 270px;
  overflow-x: hidden;
}
div.container nav.about-barras {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 3;
  cursor: pointer;
  position: fixed;
  top: 10px;
  right: 10px;
}
div.container nav.about-barras img.barras {
  height: 20px;
}
div.container nav.about-barras .hide {
  display: none;
}
div.container section.more-stuff {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-color: white;
  position: fixed;
  padding: 0.5rem 1rem;
  top: 0;
  z-index: 2;
  left: 100vw;
  transition: 0.5s ease-in;
}
div.container section.more-stuff h2.title {
  margin-bottom: 1.5rem;
  font-size: 1.7rem;
}
div.container section.more-stuff div.sak hr {
  background-color: black;
  color: black;
}
div.container section.more-stuff div.sak div.boiler-points {
  margin-bottom: 1rem;
}
div.container section.more-stuff div.sak div.boiler-points ul, div.container section.more-stuff div.sak div.boiler-points p {
  font-size: 1.2rem;
}
div.container section.more-stuff div.sak div.boiler-points p.boiler-point {
  margin-left: 1rem;
  font-weight: 700;
}
div.container section.more-stuff div.sak div.boiler-points p.boiler-point span.level {
  color: #545454;
}
div.container section.more-stuff div.sak div.boiler-points ul li.principal {
  list-style: none;
}
div.container section.more-stuff div.sak div.boiler-points ul li.secondary {
  margin-left: 1.5rem;
  color: #545454;
}
div.container section.more-stuff div.sak div.boiler-points div.bp-title, div.container section.more-stuff div.sak div.boiler-points div.bp-extra {
  display: inline-block;
}
div.container section.more-stuff div.sak div.boiler-points ul, div.container section.more-stuff div.sak div.boiler-points b.boiler-point {
  margin-bottom: 0.5rem;
}
div.container section.more-stuff.initial-pos {
  left: 0px;
}
div.container section.intro {
  height: 100vh;
  background-color: #0dadff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
div.container section.intro p.intro-title {
  max-width: 500px;
  margin-bottom: 2rem;
  font-size: 2.4rem;
  font-weight: 700;
  font-family: "Aller_bd", serif;
}
div.container section.intro nav.link-section ul.link-section-links {
  display: flex;
}
div.container section.intro nav.link-section ul.link-section-links li.link {
  height: 15px;
  list-style: none;
  margin: 0 5px;
}
div.container section.intro nav.link-section ul.link-section-links li.link a {
  text-decoration: none;
}
div.container section.intro nav.link-section ul.link-section-links li.link a img {
  height: 25px;
}
div.container main.projects-area {
  background-color: #ffb24d;
  padding: 1rem;
}
div.container main.projects-area h2.title {
  margin: 1rem 0rem 2rem;
  color: black;
  font-size: 1.8rem;
  font-weight: 700;
  font-family: "Roboto-B", sans-serif;
}
div.container main.projects-area div.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.container main.projects-area div.projects div.project {
  margin-bottom: 2rem;
  background-color: #fbc681;
  padding: 0.5rem;
}
div.container main.projects-area div.projects div.project div.project-image {
  position: relative;
  padding-top: 100%;
  background-color: gray;
  background-size: cover;
  background-position: top;
}
div.container main.projects-area div.projects div.project div.project-image.notas {
  background-image: url(../img/notas.png);
}
div.container main.projects-area div.projects div.project div.project-image.junji {
  background-image: url(../img/junji.png);
}
div.container main.projects-area div.projects div.project div.project-image.b-track {
  background-image: url(../img/bike.png);
}
div.container main.projects-area div.projects div.project div.project-image.silla {
  background-image: url(../img/silla.png);
}
div.container main.projects-area div.projects div.project div.project-image.clothes {
  background-image: url(../img/clothes.png);
  background-position: top;
}
div.container main.projects-area div.projects div.project div.project-image.photographers {
  background-image: url(../img/photographers.png);
  background-position: center;
}
div.container main.projects-area div.projects div.project div.text-section h3.project-title {
  font-size: 1.6rem;
  margin: 0.5rem 0;
}
div.container main.projects-area div.projects div.project div.text-section h3.project-title a {
  text-decoration: none;
  color: black;
}
div.container main.projects-area div.projects div.project div.text-section p {
  font-size: 1.2rem;
}
div.container main.projects-area div.projects div.project div.text-section p.project-description {
  margin-bottom: 0.5rem;
}
div.container main.projects-area div.projects div.project div.text-section p.project-professional-description {
  margin-bottom: 0.5rem;
  display: inline;
  color: black;
  font-weight: 700;
}
div.container main.projects-area div.projects div.project div.text-section a.github-link {
  position: absolute;
  right: 5px;
  bottom: 1px;
}

@media only screen and (min-width: 500px) and (max-width: 540px) {
  div.container main.projects-area div.projects div.project div.text-section a.github-link {
    bottom: unset;
    top: 5px;
  }
}
@media only screen and (min-width: 500px) {
  div.container main.projects-area {
    display: flex;
    flex-direction: column;
  }
  div.container main.projects-area h2.title {
    max-width: 900px;
    margin: 1rem auto 2rem;
  }
  div.container main.projects-area div.projects {
    max-width: 850px;
    align-self: center;
  }
  div.container main.projects-area div.projects div.project {
    display: grid;
    grid-template-columns: minmax(150px, 185px) 1fr 1fr;
    max-width: 850px;
    width: 100%;
    transition: 0.8s ease-in;
  }
  div.container main.projects-area div.projects div.project:hover {
    position: relative;
    top: -5px;
  }
  div.container main.projects-area div.projects div.project div.text-section {
    grid-column: 2/-1;
    margin-left: 0.5rem;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    max-height: 185px;
  }
  div.container main.projects-area div.projects div.project div.text-section h3.project-title {
    grid-row: 1;
    grid-column: 1/-1;
    margin: 0;
  }
  div.container main.projects-area div.projects div.project div.text-section h3.project-title a:hover {
    color: #222;
  }
  div.container main.projects-area div.projects div.project div.text-section p.project-description {
    grid-row: 2;
    margin: 0;
  }
  div.container main.projects-area div.projects div.project div.text-section p.project-professional-description {
    grid-column: 1/-1;
    align-self: end;
  }
}
@media only screen and (min-width: 1090px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  div.container {
    height: 100vh;
    min-height: 500px;
    display: grid;
    grid-template-columns: repeat(12, minmax(2em, 6.2em));
    width: auto;
  }
  div.container section.intro {
    grid-row: 1;
    width: 350px;
    max-height: 450px;
    grid-column: 2/5;
    z-index: 1;
    border-radius: 6%;
    align-self: center;
  }
  div.container main.projects-area {
    grid-row: 1;
    grid-column: 5/12;
    max-height: 600px;
    align-self: center;
    border-radius: 2%;
    padding-left: 6em;
    overflow: scroll;
    overflow-x: hidden;
  }
}

/*# sourceMappingURL=style.css.map */
